---
Language:        Cpp
BasedOnStyle:    LLVM

SortIncludes: Never

# --- Indentation ---
UseTab:          Never
IndentWidth:     2
TabWidth:        2
ContinuationIndentWidth: 2

ColumnLimit:     110

# --- Flattened Structure ---
AlignAfterOpenBracket: DontAlign
LambdaBodyIndentation: Signature
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All

BinPackArguments: true
BinPackParameters: true

# --- Line Break Management ---
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakScopeResolution: 500
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 1000

# --- Bracing ---
BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction:   false
  AfterClass:      false
  AfterNamespace:  false
  BeforeElse:      false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# --- Alignment ---
AlignOperands:   Align
AlignTrailingComments:
  Kind:            Always
  OverEmptyLines:  0

PointerAlignment: Left
ReferenceAlignment: Pointer
Standard:        Latest